---
import MockUp from "../components/discover/MockUp";
import Layout from "../layouts/Layout.astro";
---

<Layout title="発見">
	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 m-5">
		<MockUp client:load />
	</div>
</Layout>
