---
import Post from "../components/Post.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="美しいコード美術館">
	<div class="container mx-auto p-4">
		<div class="flex justify-center gap-4">
			<Post />
		</div>
	</div>
</Layout>
