---
import MockUpCode from "./MockUpCode.astro";
---

<div class="flex justify-center m-5 gap-4">
	<div class="mockup-code w-1/3">
		<MockUpCode
			code={`<div class="navbar bg-base-100 shadow-sm">
	<a class="btn btn-ghost text-xl" href="/">美しいコード美術館</a>
</div>`}
		/>
	</div>
</div>
