---

---

<div class="navbar bg-base-100 shadow-sm">
	<a class="btn btn-ghost text-xl" href="/">美しいコード美術館</a>
	<div class="flex gap-4">
		<a class="btn btn-primary text-sm" href="/">新規投稿</a>
		<a class="btn btn-secondary text-sm" href="/discover">人気の投稿</a>
	</div>
</div>
